.container,
.main {
  height: 100%;
}

.close {
  height: 3.25rem;
  width: 3.25rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.viewer {
  flex: 1 0 auto;
  background-color: var(--colour-sky-blue);
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}

.imageContainer {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.projectDescription,
.projectHeader {
  padding: 2rem;
}

.projectHeader h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.projectHeader h2 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  margin: 0 0 1rem;
}

.orange .projectHeader h2 {
  color: var(--colour-orange);
}
.cyan .projectHeader h2 {
  color: var(--colour-cyan);
}
.lime .projectHeader h2 {
  color: var(--colour-lime);
}
.pink .projectHeader h2 {
  color: var(--colour-pink);
}

@media screen and (min-width: 767px) {
  .main {
    position: relative;
    width: 100%;
  }

  .infoPanel {
    width: 24rem;
    margin-top: 3rem;
    right: 0;
    position: absolute;
  }

  .viewer {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100vw - 24rem);
    height: 100%;
    padding-top: 5rem;
  }

  .projectDescription {
    padding-top: 0;
  }
}
