@font-face {
  font-family: "Sofia Pro Semi";
  src: url("../public/fonts/SofiaPro-SemiBold.woff2") format("woff2"),
    url("../public/fonts/SofiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../public/fonts/SofiaProRegular.woff2") format("woff2"),
    url("../public/fonts/SofiaProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro Semi";
  src: url("../public/fonts/SofiaPro-SemiBoldItalic.woff2") format("woff2"),
    url("../public/fonts/SofiaPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../public/fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("../public/fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../public/fonts/SofiaPro-Italic.woff2") format("woff2"),
    url("../public/fonts/SofiaPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --colour-black: #4a4a49;
  --colour-grey: #9f9f9e;
  --colour-orange: #eb5b25;
  --colour-orange-dark: #5d2009;
  --colour-cyan: #28b8ce;
  --colour-cyan-dark: #0f454d;
  --colour-lime: #c7d537;
  --colour-lime-dark: #4d5311;
  --colour-pink: #e6007e;
  --colour-pink-dark: #56002f;
  --colour-sky-blue: #e5fcfe;
}

#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sofia Pro", "Helvetica Neue", "Arial Nova", Helvetica, Arial,
    sans-serif;
  color: var(--colour-black);
  overflow-x: hidden;
  height: 100%;
}

header {
  max-width: 800px;
}

header h1 {
  border-bottom: 1px solid var(--colour-grey);
  color: var(--colour-pink);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  min-height: 3.5rem;
  line-height: 1.5;
  margin: 0 0 2rem;
  padding-right: 1rem;
  text-transform: uppercase;
}

header p {
  font-size: 1.25rem;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  margin: 0 0 1rem;
}

* {
  box-sizing: border-box;
}

header {
  margin: 0 2rem 0 2rem;
}

@media screen and (min-width: 480px) {
  header h1 {
    font-size: 2rem;
    min-height: 3.5rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1201px) {
  header h1 {
    font-size: 2.5rem;
    min-height: 3.875rem;
  }
}

@media screen and (min-width: 1441px) {
  header h1 {
    font-size: 3rem;
    min-height: 4.5rem;
  }
}
