.article {
  display: flex;
  flex-direction: column;
}

.article .imageContainer {
  position: relative;
  right: 2rem;
}

.article.right {
  text-align: right;
}

.article.right .imageContainer {
  position: relative;
  right: -2rem;
  align-self: flex-end;
}

.orange.article a {
  color: var(--colour-orange-dark);
}
.cyan.article a {
  color: var(--colour-cyan-dark);
}
.lime.article a {
  color: var(--colour-lime-dark);
}
.pink.article a {
  color: var(--colour-pink-dark);
}

.details {
  margin-top: calc(var(--border) + 0.25rem);
  padding: 1rem;
}

.leftShape {
  float: left;
  width: 3.125rem;
  height: 100%;
  shape-outside: ellipse(148px 148px at -100px 143px);
}

.rightShape {
  float: right;
  width: 3.125rem;
  height: 100%;
  shape-outside: ellipse(148px 148px at 155px 143px);
}

.details h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 1rem;
}
.details p {
  margin: 0 0 1rem;
}

@media screen and (min-width: 321px) {
  .article {
    --size: 17rem;
  }
}

@media screen and (min-width: 481px) {
  .article {
    flex-direction: row;
    width: 115%;
    right: 10%;
    gap: 1rem;
  }

  .article.right .imageContainer,
  .article .imageContainer {
    right: 0;
  }

  .article.right {
    flex-direction: row-reverse;
    right: 5%;
  }

  .article.right .imageContainer,
  .article .imageContainer {
    align-self: center;
  }
  .details {
    margin-left: -3.125rem;
  }

  .article.right .details {
    margin-left: 0;
    margin-right: -2.8125rem;
  }
}

@media screen and (min-width: 767px) {
  .article {
    width: auto;
    right: 3rem;
  }

  .article.right {
    right: -3rem;
  }

  .details {
    padding: 0;
  }
}

@media screen and (min-width: 1023px) {
  .article {
    right: 20vw;
  }
}

@media screen and (min-width: 1201px) {
  .article {
    max-width: 55rem;
  }
}
